@import '~antd/dist/antd.css';

@keyframes animate {
    0% { color: white;  }
    50% { color: white; }
    100% { color: black;  }
}
.btn{
    width: 100%;
    height: 16.65vh;
    background-color: #e0e0e0;
    border-color: black;
    color:black;
    font-size:60px
}
.action{
    background-color:#f5923e !important;
    color:white !important;
}
.screen{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:100px;
    font-weight: 200;
    padding-right: 10px;
    -webkit-animation: animate 1000ms infinite;
    -moz-animation: animate 1000ms infinite;
    -o-animation: animate 1000ms infinite;
    animation: animate 1000ms infinite;
}

